data/mongodb/journal/WiredTigerLog.0000000001 filter=lfs diff=lfs merge=lfs -text
data/mongodb/journal/WiredTigerPreplog.0000000001 filter=lfs diff=lfs merge=lfs -text
data/mongodb/journal/WiredTigerPreplog.0000000002 filter=lfs diff=lfs merge=lfs -text
data/mongodb/journal/WiredTigerLog.0000000002 filter=lfs diff=lfs merge=lfs -text
data/mongodb/journal/WiredTigerLog.0000000003 filter=lfs diff=lfs merge=lfs -text
data/mongodb/journal/WiredTigerLog.0000000007 filter=lfs diff=lfs merge=lfs -text
data/mongodb/journal/WiredTigerLog.0000000012 filter=lfs diff=lfs merge=lfs -text
data/mongodb/journal/WiredTigerLog.0000000015 filter=lfs diff=lfs merge=lfs -text
data/mongodb/journal/WiredTigerLog.0000000021 filter=lfs diff=lfs merge=lfs -text
data/mongodb/journal/WiredTigerLog.0000000023 filter=lfs diff=lfs merge=lfs -text
data/mongodb/journal/WiredTigerLog.0000000024 filter=lfs diff=lfs merge=lfs -text
data/mongodb/journal/WiredTigerLog.0000000028 filter=lfs diff=lfs merge=lfs -text
data/mongodb/journal/WiredTigerLog.0000000029 filter=lfs diff=lfs merge=lfs -text
data/mongodb/journal/WiredTigerLog.0000000030 filter=lfs diff=lfs merge=lfs -text
data/mongodb/journal/WiredTigerLog.0000000031 filter=lfs diff=lfs merge=lfs -text
data/mongodb/journal/WiredTigerLog.0000000033 filter=lfs diff=lfs merge=lfs -text
